.main-cards-container{
  background-color: rgb(232, 230, 230);
  color: black;
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.cart-empty {
  margin-top: 100px;
  min-width: 50px;
  max-width: 300px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.cart-empty .title-cart{
  margin-bottom: 10px;
  font-weight: bolder;
}

.cart-empty .subtitle-cart {
  color: rgb(114, 114, 114);
}

.cart-empty img {
  width: 150px;
}