@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.cart-card {
	align-items: center;
  background-color: white;
  /* background-color: yellow; */
	box-sizing: border-box;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	border-radius: 4px;
  border: none;
	display: flex;
  flex-direction: column;
	font-family: 'Poppins', sans-serif;
	height: 340px;
	justify-content: center;
  margin: 0;
	margin: 8px 8px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 220px;
}

.cart-card .free-shipping-svg {
  top: 4px;
  left: 4px;
  position: absolute;
}


.card-cart .card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-card .imgBox
{
	position: relative;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  max-width: 125px;
	max-height: 125px;
}

.cart-card .imgBox img
{
	max-width: 125px;
	max-height: 125px;
  margin: 0px 0 20px;
}

.cart-card a {
  color: black;
  font-size: 0.6em;
  text-decoration: none;  
  padding-left: 6px;
}

.cart-card .btn-container
{
  border: none;
  padding-bottom: 10px; 
}

.cart-card .info-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: #2FC08C solid 1px;
  color : #444;
  width: 220px;
  height: 110px;
  background-color: #fafafa;
  font-size: 0.8em;
  /* background-color: bisque; */
}

.cart-card .info-content .title-content {
  /* background-color: aqua; */
  padding-left: 10px;
  padding-right: 10px;
  max-height: 90px;
  overflow: hidden;
  font-size: 1.1em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.cart-card .info-content .price-content {
  /* background-color: aqua; */
  bottom: 12px;
}

.cart-card .info-content .price-content .price {
  font-size: 1.1em;
  font-weight: bolder;
}