.main-cards-container{
    /* width: 20%; */
    /* height: 100%; */
    background-color: #eee;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;

    /* width: 100%; */
    /* width: 20%; */
    /* position: fixed; */
    /* overflow: auto; */
}