@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.amount-button-container{
  /* width: 100%; */
  /* margin-top: 100px; */
  border: #2FC08C solid 1px;
  display: flex;
  justify-content: space-around;
  width: 200px;
  background-color: #2FC08C;
  border-radius: 20px;
  align-items: center;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  /* overflow: hidden;  */
}

.amount-button-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #eee;
  user-select: none;
}

.amount-button-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #eee;
  user-select: none;
  /* background-color: red; */
}

.amount-button-right:active, .amount-button-left:active
{
  border-radius: 10px;
  transition: 0.25s ease-in-out;
  /* visibility: hidden; */
  /* color: white; */
  background-color: #777;
  color: #fff;
}

.amount-button-right:after, .amount-button-left:after {
  color: rgb(64, 238, 20); 
}

.amount-button-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
  background-color: red;
  background-color: #eee;;
  color: #777;
  border-radius: 10px;
}
