.side-menu-container{
    /* width: 20%; */
    /* height: 100%; */
    background-color: #b0c4de;
    color: black;
    /* color: blue; */
    padding-left: 20px;
    padding-top: 20px;
    font-size: 1em;
    font-size: 12px;
    /* width: 20%; */
    /* position: fixed; */
    /* overflow: auto; */
}