@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.side-menu-container{
    /* width: 20%; */
    /* height: 100%; */
    background-color: red;
    color: black;
    /* color: blue; */
    /* padding-left: 20px; */
    /* padding-top: 20px; */

    
    font-size: 0.4em;
    
    /* font-weight: 400; */
    /* font-size: 10px; */

    /* width: 20%; */
    /* position: fixed; */
    /* overflow: auto; */
}


.side-item-container { 
    /* width: 20%; */
    /* height: 100%; */
    font-family: 'Poppins', sans-serif;
    background-color: rgb(232, 230, 230);
    color: #777;
    /* color: blue; */
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    /* margin-bottom: 10px; */
    /* display: flex; */
    /* flex-direction: column; */

    /* font-family: 'Poppins', sans-serif; */
    /* font-size: 0.5em; */

    /* font-weight: 400; */
    /* font-size: 10px; */

    /* width: 20%; */
    /* position: fixed; */
    /* overflow: auto; */
}

.side-item-container + .selected .side-item-text{
    /* color: #2FC08C ; */
    color: #444 ;
    padding-left: 10px;
}

.side-item-container .side-item-separator {
    height: 1px;
    background-color: #777;
}

.side-item-container + .selected .side-item-separator  {
    height: 1px;
    background-color: #2FC08C;
}