.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #2fc08c;
  width: 40px;
  height: 40px;
  margin-top: 210px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container-loading p {
  margin-top: 8px;
  color: rgb(122, 122, 122);
  font-weight: 800;
}