.amount-button-container{
  /* width: 100%; */
  /* margin-top: 100px; */
  border: #2FC08C solid 1px;
  display: flex;
  justify-content: space-around;
  width: 200px;
  background-color: #2FC08C;
  border-radius: 20px;
  align-items: center;
  height: 24px;
}

.amount-button-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  cursor: pointer;
  /* background-color: #ddd; */
  /* border-radius: 50%; */
  /* width: 18px; */
  /* height: 18px; */
}

.amount-button-left input {
  border: none;
  background-color: #2FC08C;
  font-size: 1.2em;
  color: #eee;
  cursor: pointer;
  /* background-color: #ddd; */
  /* font-size: large; */
}

.amount-button-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
  cursor: pointer;
  /* background-color: red; */
}

.amount-button-right input {
  border: none;
  background-color: #2FC08C;
  font-size: 1.2em;
  color: #eee;
  cursor: pointer;
}


.amount-button-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
  background-color: red;
  background-color: #eee;;
  color: #777;
  border-radius: 10px;
}