.main-cards-container{
  background-color: rgb(232, 230, 230);
  color: black;
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  position: relative;
  top: 40px;
}

.dialogOn {
  display: block;
}

.dialogOff {
  display: none;
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.modal-content {
  border-radius: 5px;
  background-color: #F99E1E;
  max-height: 50px;
  max-width: 600px;
  min-width: 300px;
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.message {
  display: flex;
  align-items: center;
  color: white;
  font-size: large;
  font-weight: 600;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message p {
  margin-left: 8px;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}