.remove-button, .add-button {
  padding: 2px 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}


.main-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.item-details {
  margin-top: 60px;
  background-color: rgb(177, 177, 177); 
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
}

.item-details > img {
  max-width: 150px;
}